// 가상 선택자
// &:focus{}
// &:active{}
// &:visited{}
// &:first-child{}
// &:last-child{}
// &:nth-child{}
// &:nth-child(2){}
// 가상 요소
// &::after{}
// &::before{}

ul {
    li {
        color:blue;
        &:hover {
            color:green;
        }
    }
}

ul {
    li {
        &:nth-child(1) {
            color: red;
        }
        &:nth-child(2) {
            color: blue;
        }
        &:nth-child(3) {
            color: green;
        }
    }
}