// .one {
//     color: red;
//     .two {
//         color: green;
//         .three {
//             color: blue;
//         }
//     }
// }

// .four {
//     color:pink;
// }

.one {
    color: red;
    .two {
        color: green;
        .three {
            color: blue;
            @at-root .four {
                color: skyblue;
            }
        }
    }
}