@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #29363d;
    --sub-color: #5a6a72;
}

body {
    font-family: "Pretendard-Regular", sans-serif;
    color: var(--main-color);
    background-color: #eee;
}

/* 공통 속성 */
article {
    width: 288px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.read-more {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    text-decoration: underline;
    width: 70px;
    padding: 3px 6px;
    text-align: left;
}

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* card1 */

.card1 img {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.text-group {
    padding: 20px 16px 16px;
}

.text-group h2 {
    font-family: "Pretendard-Bold", sans-serif;
}

.text-group p {
    margin: 16px 0;
    font-size: 12px;
    line-height: 160%;
    color: var(--sub-color);
}

/* card2 */

.card2 header {
    padding: 16px 16px 12px;
}

.card2 header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 16px;
}

.card2 header div {
    padding: 3px 0;
}

.card2 header h2 {
    font-family: "Pretendard-Bold", sans-serif;
    margin-bottom: 1px;
}

.card2 header p {
    font-size: 12px;
    color: var(--sub-color);
}

.card2 .thumbnail {
    width: 100%;
    aspect-ratio: 288px/196px;
    object-fit: cover;
}

.card2 .content {
    padding: 10px 16px 16px;
}

.content p {
    font-size: 12px;
    line-height: 160%;
    color: var(--sub-color);
    margin-bottom: 12px;
}

.card2 .read-more {
    position: relative;
    margin-top: 4px;
    float: left;
}

.card2 .read-more::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-6px, -50%) rotate(45deg);
}

.card2 .btn-group {
    float: right;
}

.card2 .btn-group button {
    width: 32px;
    height: 32px;
    float: left;
}
.card2 .btn-group img {
    width: 32px;
    height: 32px;
}

.card2 .btn-group :nth-child(3),
.card2 .btn-group :nth-child(2) {
    margin-left: 8px;
}
